<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap5.0.2/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/index/style.css">
</head>

<body>
    <!-- 上排選單 -->
    <nav class="navbar navbar-expand-xxl navbar-light bg-light position-fixed w-100 nav_set">
        <div class="container-fluid">
            <!-- 圖片首頁連結 -->
            <a class="navbar-brand" href="/home_en">
                <img src="/static/index/CBDC.png" alt="CBDC計劃圖片" id="nav-icon">
            </a>
            <!-- /圖片首頁連結 -->
            <!-- 選單響應按鈕 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- /選單響應按鈕 -->
            <!-- 選項 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" href="/administrator/login_en">Admin login</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                choose  language
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/index_en">English</a></li>
                                <li><a class="dropdown-item" href="/">中文</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            
            <!-- /選項 -->
        </div>

    </nav>
    <!-- /上排選單 -->

    <!-- 主畫面橫幅 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="introduction-backbround">
                <div class="container">
                    <div class="row">
                        <!-- 介紹文字 -->
                        <div class="col-6">
                            <h1 id="introduction-title">CBDC</h1>
                            <p id="introduction-text" class="">A DIGITAL CURRENCY PLATFORM YOU CAN TRUST</p>
                        </div>
                        <!-- /介紹文字 -->
                        <!-- ICON -->
                        <div class="col-6 ">
                            <img id="introduction-image" src="../../static/index/ICON.png" alt="">
                        </div>
                        <!-- /ICON -->
                    </div>
                </div>
                <!-- 登入與註冊 -->
                <br><br>
                    <div class="row ">
                        <div class="col-6 text-center">
                            <a href="/login_en">
                                <button type="button" class="btn btn-light login2_btn" id="login_btn">login</button>
                            </a>
                        </div>
                        <div class="col-6 text-center">
                            <a href="/register_en">
                                <button type="button" class="btn btn-light login2_btn" id="register_btn">registration</button>
                            </a>
                        </div>
                    </div>
                <br><br>
                <!-- /登入與註冊 -->
            </div>
        </div>
    </div>
    <!-- /主畫面橫幅 -->

</body>
<script src="/static/bootstrap5.0.2/bootstrap.bundle.min.js"></script>
<script type="module" src="/static/index/script.js"></script>

</html>