@charset "utf-8";

/* CSS 變數設置 */
:root {
    --page-background-color-1: #FE8D24;
    --page-background-color-2: #ffd3aa;
    --panel-background-color: #FFFFFF;
    --main-color: #FE8D24;
    --shadow-color: #fe7c03;
    --font-size-1: 30px;
    --font-color-1: #FFFFFF;
    --margin-vertical-1: 30px;
    --card-color-2: #FE8D24;
    --card-padding-top-1: 35px;
    --nav-font-size-1: 20px;
}

/* 連結去除底線 */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

nav {
    font-size: var(--nav-font-size-1);
}

/* 左上方Nav的圖示 */
#nav-icon {
    height: 30px;
    font-size: 18px;
}

/* 介紹文字標題 */
#introduction-title {
    margin-top: 150px;
    font-size: 70px;
    color: white;
}

/* 介紹文字 */
#introduction-text {
    font-size: var(--font-size-1);
    color: white;
}

/* 介紹圖片 */
#introduction-image {
    margin-top: 150px;
    margin-left: 100px;
}

@media (max-width: 800px) {
    #introduction-image {
        margin-top: 150px;
        margin-left: 50px;
        width: 100px;
    }
}

/* 介紹文字背景 */
#introduction-backbround {
    min-height: 450px;
    background-image: linear-gradient(to right, var(--page-background-color-1), var(--page-background-color-2));
}

/* 服務項目 */
.services-text {
    color: var(--page-background-color-1);
    font-size: var(--font-size-1);
    margin-top: var(--margin-vertical-1);
    margin-bottom: var(--margin-vertical-1);
}

/* 服務卡片 */
.services-cards {
    /* 上下方間隙 */
    margin-top: var(--margin-vertical-1);
    margin-bottom: var(--margin-vertical-1);
    /* 寬度 */
    max-width: 300px;
    /* 高度 */
    height: 150px;
    /* 置中 */
    float: none;
    margin-left: auto;
    margin-right: auto;
    /* 文字顏色 */
    color: var(--shadow-color);
}

.services-cards p{
    margin-top: var(--margin-vertical-1);
    font-size: 20px;
}

/* 服務卡片圖片 */
.services-cards img {
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#nav-title {
    color: var(--main-color);
}