<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap5.0.2/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/administrator_home/style.css">
</head>

<body>
    <!-- 上排選單 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- 圖片首頁連結 -->
            <a class="navbar-brand" href="/administrator/home_en">
                <h1 id='nav-title'>CBDC Administrator</h1>
            </a>
            <!-- /圖片首頁連結 -->
            <!-- 選單響應按鈕 -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- /選單響應按鈕 -->
            <!-- 選項 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" href="/administrator/home_en">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" href="/administrator/transaction_log_en">transaction records</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active text-secondary" href="">用戶清單</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" href="/administrator/issue/voucher_en">Issue points</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" href="/logout">Sign out</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                choose  language
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="/administrator/home_en">English</a></li>
                                <li><a class="dropdown-item" href="/administrator/home">中文</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /選項 -->
        </div>
    </nav>
    <!-- /上排選單 -->

    <!-- 主畫面橫幅 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col" id="introduction-backbround">
                <div class="container">
                    <div class="row">
                        <!-- 介紹文字 -->
                        <div class="col-6">
                            <h1 id="introduction-title">CBDC</h1>
                            <p id="introduction-text" class="">View user transaction history, user list, and issue points.</p>
                        </div>
                        <!-- /介紹文字 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /主畫面橫幅 -->

    <!-- 下方服務選項 -->
    <div class="container text-secondary">
        <!-- 服務項目 -->
        <div class="row text-center">
            <div class="col services-text">service items</div>
        </div>
        <!-- /服務項目 -->

        <!-- 服務卡片組 -->
        <div class="row text-center">
            <!-- 卡片1 -->
            <div class="col-md-6 ">
                <!-- 卡片連結 -->
                <a href="/administrator/transaction_log_en">
                    <div class="card services-cards">
                        <div class="card-body">
                            <h3 class="card-title">transaction records</h3>
                            <p>user transaction history</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /卡片1 -->

            <!-- 卡片2 -->
            <!-- <div class="col-md-4"> -->
                <!-- 卡片連結 -->
                <!-- <a href="">
                    <div class="card services-cards">
                        <div class="card-body">
                            <h3 class="card-title">用戶清單</h3>
                            <p>用戶名單</p>
                        </div>
                    </div>
                </a> -->
                <!-- /卡片連結 -->
            <!-- </div> -->
            <!-- /卡片2 -->

            <!-- 卡片3 -->
            <div class="col-md-6">
                <!-- 卡片連結 -->
                <a href="/administrator/issue/voucher_en">
                    <div class="card services-cards">
                        <div class="card-body">
                            <h3 class="card-title">Issue points</h3>
                            <p>Issue points, and check the issued points.</p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- /卡片3 -->

        </div>
        <!-- /服務卡片組 -->
    </div>
    <!-- /下方服務選項 -->
</body>
<script src="/static/bootstrap5.0.2/bootstrap.bundle.min.js"></script>
<script type="module" src="/static/administrator_home/script.js"></script>

</html>