<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBDC Title</title>
    <link rel="stylesheet" href="static/home/index.css">
</head>
<body>
    <div class="header">
        <a href="" class="logos"><h1><img src="static/home/CBDC.png" height="40"/></h1></a>
        <div class="subtitle">Digital Currency-Ministry of Science and Technology Project</div>
        <div class="minor">
            <!-- 登入註冊button -->
            <!-- <div class="loginbtn">
                <a href="#" class="abtn">登入</a>
                <a href="#" class="bbtn">註冊</a>
            </div> --> 
                
            <!-- 登出button -->


            <!-- menu -->
            <div class="menus">
                <div class="grids">
                    <a href="" class="gtitle">Currency trusteeship</a>                  
                </div>
                <div class="grids">
                    <a href="" class="gtitle">Currency Service</a>                   
                </div>
                <div class="grids">
                    <a href="" class="gtitle">Member setting</a>                    
                </div>
                <div class="grids">
                    <a href="/logout" class="gtitle">Sign out</a>
                </div>
            </div>

        </div>
    </div>

    <div class="firstblock">        
        <div class="firstblock-title"><div class="t1">CBDC</div><div class="t2">A digital platform you can trust</div></div>
        <img src="static/home/ICON.png" alt="icon-img" id="firstblock-icon">
    </div>

    <div class="intro">
        <div class="intro-container">
            <div class="intro-box">
                <img src="static/home/withdraw_icon.png" alt="withdraw_icon" height="60">
                <div class="box-title">withdraw</div>
                <div class="box-content">Withdraw your digital currency by QR code or file</div>
            </div>
            <div class="intro-box">
                <img src="static/home/saving_icon.png" alt="saving_icon" height="60">
                <div class="box-title">deposit</div>
                <div class="box-content">Enter the serial number of the point card to deposit the amount of digital currency</div>
            </div>
            <div class="intro-box">
                <img src="static/home/withdraw_icon.png" alt="withdraw_icon" height="60">
                <div class="box-title">Inquire balance</div>
                <div class="box-content">Confirm current balance</div>
            </div>
        </div> 
    </div>


</body>
</html>