<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CBDC主頁</title>
    <link rel="stylesheet" href="static/home/index.css">
</head>
<body>
    <div class="header">
        <a href="" class="logos"><h1><img src="static/home/CBDC.png" height="40"/></h1></a>
        <div class="subtitle">數位貨幣-科技部計畫</div>
        <div class="minor">
            <!-- 登入註冊button -->
            <!-- <div class="loginbtn">
                <a href="#" class="abtn">登入</a>
                <a href="#" class="bbtn">註冊</a>
            </div> --> 
                
            <!-- 登出button -->


            <!-- menu -->
            <div class="menus">
                <div class="grids">
                    <a href="" class="gtitle">貨幣託管</a>                  
                </div>
                <div class="grids">
                    <a href="" class="gtitle">貨幣服務</a>                   
                </div>
                <div class="grids">
                    <a href="" class="gtitle">會員設置</a>                    
                </div>
                <div class="grids">
                    <a href="/logout" class="gtitle">登出</a>
                </div>
            </div>

        </div>
    </div>

    <div class="firstblock">        
        <div class="firstblock-title"><div class="t1">CBDC</div><div class="t2">一個你可以信賴的數位點數平台</div></div>
        <img src="static/home/ICON.png" alt="icon-img" id="firstblock-icon">
    </div>

    <div class="intro">
        <div class="intro-container">
            <div class="intro-box">
                <img src="static/home/withdraw_icon.png" alt="withdraw_icon" height="60">
                <div class="box-title">提款</div>
                <div class="box-content">以QR code 或檔案提取你的數位貨幣</div>
            </div>
            <div class="intro-box">
                <img src="static/home/saving_icon.png" alt="saving_icon" height="60">
                <div class="box-title">存款</div>
                <div class="box-content">將點數卡序號輸入 存入數位貨幣金額</div>
            </div>
            <div class="intro-box">
                <img src="static/home/withdraw_icon.png" alt="withdraw_icon" height="60">
                <div class="box-title">餘額查詢</div>
                <div class="box-content">確認目前的餘額</div>
            </div>
        </div> 
    </div>

 
</body>
</html>