<!doctype html>
<html lang="zh-TW">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap5.0.2/bootstrap.min.css" rel="stylesheet">
    <link href="/static/register/style.css" rel="stylesheet">
    <title>登入</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">

            <!-- 登入面板外框 -->
            <div class="fixed  login-panel">

                <!-- 上方圖示 -->
                <img class="login-panel-image center-block" src="/static/register/icon.png" alt="">

                <!-- 註冊字樣 -->
                <div class="login-panel-title fs-3 text-center fw-bold">註冊</div>

                <!-- 電子郵件 -->
                <div class="login-panel-label fs-4 text-secondary">電子郵件</div>

                <!-- 電子郵件 -->
                <div class="input-group">
                    <input id="e_mail" type="text" class="form-control" name="e_mail" placeholder="電子郵件">
                </div>

                <!-- 名字 -->
                <div class="login-panel-label fs-4 text-secondary">名字</div>

                <!-- 名字輸入 -->
                <div class="input-group">
                    <input id="user_name" type="text" class="form-control" name="user_name" placeholder="名字">
                </div>

                <!-- 地址 -->
                <div class="login-panel-label fs-4 text-secondary">地址</div>

                <!-- 地址輸入 -->
                <div class="input-group">
                    <input id="home_address" type="text" class="form-control" name="home_address" placeholder="地址">
                </div>

                <!-- 電話 -->
                <div class="login-panel-label fs-4 text-secondary">電話</div>

                <!-- 電話輸入 -->
                <div class="input-group">
                    <input id="phone" type="text" class="form-control" name="phone" placeholder="電話">
                </div>

                <!-- 帳號 -->
                <div class="login-panel-label fs-4 text-secondary">帳號</div>

                <!-- 帳號輸入 -->
                <div class="input-group">
                    <input id="account" type="text" class="form-control" name="account" placeholder="帳號">
                </div>

                <!-- 密碼 -->
                <div class="login-panel-label fs-4 text-secondary">密碼</div>
                
                <!-- 密碼輸入 -->
                <div class="input-group">
                    <input id="password" type="password" class="form-control" name="password" placeholder="密碼">
                </div>

                <!-- 密碼確認 -->
                <div class="login-panel-label fs-4 text-secondary">密碼確認</div>

                <!-- 密碼確認 -->
                <div class="input-group">
                    <input id="password_check" type="password" class="form-control" name="password" placeholder="密碼">
                </div>

                <!-- 送出按鈕 -->
                <div class="login-panel-submit-btn d-grid gap-2">
                    <!-- 登入失敗提示 -->
                    <p id = "LoginFail"> </p>
                    <button id="submit" class="btn btn-primary" type="button">註冊</button>
                    <button id="" class="btn btn-primary" type="button" onclick="window.location.href = '/'">回首頁</button>
                  </div>


            </div>
            <!-- /登入面板外框 -->

        </div>
    </div>

</body>
<script src="/static/bootstrap5.0.2/bootstrap.bundle.min.js"></script>
<script  type="module" src="/static/register/script.js"></script>
</html>